.user{
    
}

.action{
    font-weight: 100;
}

.content{
    color: rgb(203, 61, 127);
}
.activity_feed{
    width: 440px;
height: 363px;
top: 248px;
left: 976px;
gap: 0px;
opacity: 0px;

}

.avatar{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.uu{
    width: 400px;
}